/* Navbar container */
.navbar {
    padding: 20px;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    background-color: #fff0;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-right-section {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar-left-section {
    display: flex;
    align-items: center;
}

.navbar-brand {
    color: #e67e22;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    margin-right: 50px;
}

.navbar-links {
    list-style-type: none;
    display: flex;
    margin: 0;
}

.navbar-links li {
    margin-left: 20px;
}

.navbar-links a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Responsive Navbar */
@media (max-width: 768px) {

    /* Hide the navbar links by default */
    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }

    /* Show navbar links when the menu is open */
    .navbar-links.open {
        display: flex;
    }

    /* Show the hamburger menu */
    .navbar-hamburger {
        display: block;
    }

    /* Style the hamburger icon */
    .hamburger-icon {
        width: 30px;
        height: 3px;
        margin: 5px 0;
    }

    /* Add some space between the links when the menu is open */
    .navbar-links li {
        margin-left: 0;
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }

    .navbar-links a,
    .navbar-links button {
        width: 100%;
        text-align: center;
    }
}

.searchbar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 25px;
    padding: 5px 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-input {
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 25px;
    font-size: 14px;
    width: 250px;
    transition: width 0.3s ease;
}

.search-input:focus {
    width: 300px;
}

.search-button {
    background-color: #e67e22;
    border: none;
    padding: 7px;
    margin-left: 10px;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.search-icon {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
}


.search-button:focus {
    outline: none;
}

/* Hover Effect */
.search-input:hover {
    background-color: #f1f1f1;
}

/* Profile Icon and Dropdown */
.profile-container {
    position: relative;
    cursor: pointer;
}

.profile-icon {
    transition: color 0.3s;
    height: 30px;
    width: 30px;
}

.profile-container:hover {
    color: #3498db;
}

/* Dropdown Menu */
.dropdown {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
    width: 150px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.dropdown-item {
    padding: 10px 20px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

/* Hide the dropdown when it's not open */
.dropdown {
    display: none;
}

.profile-container:hover .dropdown,
.dropdown {
    display: block;
}

/* Cart Icon and Badge */
.cart-container {
    position: relative;
    cursor: pointer;
}

.cart-icon {
    color: white;
    transition: color 0.3s;
    height: 30px;
    width: 30px;
}

/* Badge Styling */
.cart-badge {
    position: absolute;
    top: -20px;
    right: -10px;
    background-color: #e67e22;
    color: white;
    border-radius: 50%;
    padding: 5px 8px;
    font-size: 12px;
    font-weight: bold;
}