/* Navbar container */
.navbar {
    background-color: #c171301a;
    padding: 10px 20px;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-brand {
    color: #f0a500;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
}

.navbar-links {
    list-style-type: none;
    display: flex;
    margin: 0;
}

.navbar-links li {
    margin-left: 20px;
}

.navbar-links a,
.navbar-links button {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover effect for links */
.navbar-links a:hover,
.navbar-links button:hover {
    background-color: #f0a500;
    color: #333;
}

/* Specific styles for the logout button */
.navbar-links button {
    background-color: #e74c3c;
    border: none;
}

.navbar-links button:hover {
    background-color: #c0392b;
}

/* Hamburger Menu */
.navbar-hamburger {
    display: none;
    cursor: pointer;
}

.hamburger-icon {
    width: 30px;
    height: 4px;
    margin: 6px 0;
    transition: all 0.3s ease;
}

/* Responsive Navbar */
@media (max-width: 768px) {

    /* Hide the navbar links by default */
    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }

    /* Show navbar links when the menu is open */
    .navbar-links.open {
        display: flex;
    }

    /* Show the hamburger menu */
    .navbar-hamburger {
        display: block;
    }

    /* Style the hamburger icon */
    .hamburger-icon {
        width: 30px;
        height: 3px;
        margin: 5px 0;
    }

    /* Add some space between the links when the menu is open */
    .navbar-links li {
        margin-left: 0;
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }

    .navbar-links a,
    .navbar-links button {
        width: 100%;
        text-align: center;
    }
}