body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset some basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  background-color: #f4f1ee !important;
}

.hover-link {
  display: inline-block;
  position: relative;
}

.hover-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  background-color: #000;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease-out;
}

.hover-link:hover::after {
  width: 100%;
}

.content {
  padding: 50px 30px;
}